/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
  }
  
  /* Form styles */
  input[type="text"], input[type="password"], input[type="number"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button.btnn {
    background-color: #f39c12; /* Edit button in orange */
  }
  
  button.btnn:hover {
    background-color: #e67e22;
  }
  
  /* Table styles */
  table {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  table, td, th {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  td, th {
    text-align: center;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  